*.pyc
*.egg-info
build/
dist/
docs/_build
.ICEauthority
.VirtualBox/
.Xauthority
.bash_history
.bash_logout
.bashrc
.bazaar/
.bzr.log
.cache/
.config/AbiSuite/
.config/Terminal/
.config/Thunar/
.config/Trolltech.conf
.config/autostart/
.config/dconf/
.config/enchant/
.config/eog/
.config/fbn.cx/
.config/gedit/
.config/gmusicbrowser/
.config/gnome-sudoku/
.config/gtk-2.0/
.config/gtk-3.0/
.config/hotkeys/
.config/i3status/
.config/inkscape/
.config/ipython/
.config/leafpad/
.config/libreoffice/
.config/mc/
.config/menus/
.config/monitors.xml
.config/nautilus/
.config/ristretto/
.config/transmission/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xfce4/
.csv
.dbus/
.dmenu_cache
.dmrc
.dropbox-dist/
.dropbox/
.fontconfig/
.freemind/
.gconf/
.gegl-0.0/
.gimp-2.6/
.gksu.lock
.gnome2/
.goutputstream-*
.gstreamer-0.10/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0.bak
.hplip/
.icons/
.java/
.lesshst
.local/
.macromedia/
.mozilla/
.neocomplcache/
.nevernote/
.pam_environment
.pip/
.profile
.pulse-cookie
.pulse/
.purple/
.selected_editor
.sudoku/
.swt/
.thumbnails/
.vim/
.viminfo
.vimrcold
.xmind/
.xscreensaver
.xsession-errors
.xsession-errors.old
.yankring_history_v2.txt
.zcompdump
.zcompdump-devecoop-movil-4.3.17
.zsh-update
.zsh_history
.zshrc.swo
Descargas/
Dropbox/
Escritorio/
Media/
Notebooks/
Proyectos/
VirtualBox VMs/
.ssh/id_rsa*
.config/everpad/
.config/google-chrome/
.config/ibus/
.config/monitors.xml.backup
.config/tint2/
.everpad/
.gnome/
.lfmrc
.pki/
.ssh/
.vifm/
